@charset "utf-8";

h1{
    font-family: 'Josefin Slab', serif;
    font-size: 4.8em;
    line-height: 1.2em;
    
}

h2{
    font-family: 'Josefin Slab', serif;
    font-size: 1.8em;
    line-height: 1.2em;
    letter-spacing: .2em;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    line-height: 1.2em;
    margin-top: 30px;
    letter-spacing: .05em;
}

#halfScreen {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #93AEB0;
}

.center {
    display: block;
    margin: auto;
    margin-top: 250px;
    width: 50%;
}

.mainCont {
    display: block;
    position: absolute;
    top: 100px;
    width: 450px;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.2em;
}

.mainCont p {
    font-size: 1em;
    padding-right: 10%;
    letter-spacing: .05em;
}

#intro li {
    float: left;
}

#intro li a {
display: block;
color: #333;
margin-top: 30px;
text-decoration: none;
font-size: .9em;  
font-family: 'Montserrat', sans-serif;
letter-spacing: .05em;
}

#fullCV {
    top: 800px;
}

#aboutBreak {
    top: 1000px;
}

#about {
    top: 1200px;
    padding-bottom: 100px;
}

#about h2, #contact h2 {
    padding-bottom: 30px;
}

#skillsBreak{
    top: 1800px;
}

#skills {
    top: 2000px;
    letter-spacing: .05em;
}

#skills h4, #work h4, #school h4 {
    padding-top: 30px;
    font-weight: 600;
}

#skills li{
    padding-left: 20px;
    padding-top: 10px;
}

#lastLi {
    padding-bottom: 100px;
}

#work {
    top: 3500px;
    letter-spacing: .05em;
}

#school {
    top: 4600px;
    letter-spacing: .05em;
}

#contact {
    top: 5700px;
    letter-spacing: .05em;
}

#contact a{
    color: black;
}

#lastLast {
    padding-bottom: 300px;
}

#leaf1 {
    position: relative;
    left: 360px;
    top: 350px;
    width: 100px;
    transform: rotate(30deg)
}

#flower1 {
    position: relative;
    width: 80px;
    left: 16%;
    top: 3230px;
}

#flower2 {
    position: relative;
    width: 60px;
    left: 22%;
    top: 1700px;
}

#leaf2 {
    position: relative;
    left: 13%;
    top: 4350px;
    width: 60px;
    transform: rotate(40deg);
}

#bigflower {
    position: relative;
    left: 300px;
    top: -150px;
    width: 160px;
    transform: rotate(20deg);
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #halfScreen {
        width: 30%;
    }
}

@media (max-width: 768px) { 
    #halfScreen {
        display: none;
    }

    #lastlast {
        padding-bottom: 30px;
    }

    .mainCont {
        width: 300px;
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1em;
    }

    #fullCV {
        top: 700px;
    }

    img {
        visibility: hidden;
    }

    #work {
        top: 3800px;
        letter-spacing: .05em;
    }
    
    #school {
        top: 4900px;
        letter-spacing: .05em;
    }
    
    #contact {
        top: 5900px;
        letter-spacing: .05em;
    }

}
