@charset "utf-8";

html {
    background-color: #93AEB0;
}

.mainCont {
    width: 100%;
    text-align: center;
    display: none;
}

#pagenav {
    position: relative;
    top: 110px;
    text-align: center;
}

#pagenav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pagenav li {
    padding-top: 30px;
    padding-bottom: 30px;
    transition-property: padding-top, padding-bottom;
    transition-duration: .5s;
}

#pagenav li:hover{
    padding-top: 40px;
    padding-bottom: 40px;
}

#pagenav a {
    text-decoration: none;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: .2em;
    padding-top: 60px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: .2em;
    padding-top: 10px;
    padding-bottom: 30px;
}

#messageRedactor, #sockBuilder, #researchReport, #criticalIssues{
    padding-top: 400px;
}

h2, h3 {
    color: #F3F2DC;
}

iframe {
    padding-top: 60px;
    padding-bottom: 60px;
}

#sockBuilder p, #researchReport p {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    /* margin-bottom: 60px; */
    padding: 10px;
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    color: #F3F2DC;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.2em;
    border: 1px solid #F3F2DC;
    border-radius: 10px;
}

#leafimg {
    margin-top: 360px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#leafimg2 {
    margin-top: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
