@charset "utf-8";

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    background-color: #F3F2DC;
}

html, body{
    height: 100%;
}

#mobileNavBtn {
    display: none;
}
  
#navbar {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    overflow: hidden;
    z-index: 1;
    background-color: #F3F2DC;
    box-shadow: 0px 5px 10px#333;
}

#navbar li {
    float: left;
}

#navbar li a {
display: block;
color: #333;
text-align: center;
padding: 20px 35px;
text-decoration: none;
font-size: .9em;    

transition-property: padding-left, padding-right;
transition-duration: .5s;
}

#navbar li a:hover{
    color: gray;
    padding-left: 40px;
    padding-right: 40px;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.hideme{
    opacity:0;
}

.hidemeless{
    opacity:0;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

@media (max-width: 768px) { 
    #navbar {
        display: none;
        width: 400px;
    }

    #navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #mobileNavBtn {
        position: relative;
        display: block;
        height: 30px;
        width: 100%;
        background: none;
        border: none;
        box-shadow: 0px 5px 10px#333;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        text-align: center;
        padding-top: 10px;
    }
}