@charset "utf-8";

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    background-color: #F3F2DC;
}

html, body{
    height: 100%;
}
  
#navbar {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    overflow: hidden;
    z-index: 1;
    background-color: #F3F2DC;
    box-shadow: 0px 5px 10px#333;
}

#navbar li {
    float: left;
}

#navbar li a {
display: block;
color: #333;
text-align: center;
padding: 20px 35px;
text-decoration: none;
font-size: .9em;    

transition-property: padding-left, padding-right;
transition-duration: .5s;
}

#navbar li a:hover{
    color: gray;
    padding-left: 40px;
    padding-right: 40px;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.hideme{
    opacity:0;
}

.hidemeless{
    opacity:0;
}